@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

img{
    object-fit: cover;
}
nav .navbar-nav li a:hover {
    color: blue;
}
#home {
    height: 85vh;
    margin-top: 1rem;
}
#home img {
    aspect-ratio: 1;
}
@media screen and (max-width: 768px) {
    #home {
        height: auto;
    }
}